<div class="authform">
<%= form_for(@question, url: preview_questions_path) do |f| %>
  <h3><%= t(:ask_question, scope: [:questions]) %></h3>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit t(:preview_question, scope: [:questions]), class: 'button right' %>
    <%= link_to t(:cancel, scope: [:labels]), home_path %>
  </div>
<% end %>
</div>
