<% provide :title, t(:preview_question, scope: [:questions])  %>
<%= form_for(@question, url: {action: 'create'}) do |f| %>
  <h3><%= t(:preview_question, scope: [:questions]) %></h3>
  <div class="authform">
      <div class="form-group">
        <%= @question.title %>
        <%= f.text_field :title, class: 'hidden' %>
      </div>
      <div class="form-group">
        <%= @question.description %>
        <%= f.text_field :description, class: 'hidden' %>
      </div>
      <div class="actions">
        <%= f.submit t(:modify_question, scope: [:questions]), id: 'modify_question', class: 'btn btn-default right'%> 
      </div>
  </div>
  <div class="authform pad-b-10px">
      <div class="form-group">
        <%= @question.description %>
        <%= f.text_field :description, class: 'hidden' %>
      </div>
      <div class="actions">
        <%= f.submit t(:submit_question, scope: [:questions]), id: 'create_question', name: 'create', class: "button right #{'hidden' unless user_signed_in? }" %>
      </div>
  </div>  
<% end %>

<% unless user_signed_in?  %>
  <div id="auth_form_switch" class="text-center">
    <%= radio_button_tag 'auth_form','sign_in', checked = true %>
    <%= label_tag 'auth_form_sign_in','Ik heb een account' %>
    <%= radio_button_tag 'auth_form', 'sign_up' %>
    <%= label_tag 'auth_form_sign_up','Maak account aan' %>
  </div>
  <div id="authforms" class="authform">
     <%= render partial: 'devise/sessions/new_xhr' %>
     <%= render partial: 'devise/registrations/new_xhr'  %>
   </div>
<% end %>
