<% provide :title, "Bekijk vraag"  %>
<div class="authform">
<%= form_for(@question, url: {action: 'create'}) do |f| %>
  <h3><%= t(:preview_question, scope: [:questions]) %></h3>

  <div class="form-group">
    <%= @question.title %>
    <%= f.text_field :title, class: 'hidden' %>
  </div>
  <div class="form-group">
    <%= @question.description %>
    <%= f.text_field :description, class: 'hidden' %>
  </div>
  <div class="actions">
    <%= f.submit t(:submit_question, scope: [:questions]), name: 'create', class: 'button right' %>
    <%= f.submit t(:modify_question, scope: [:questions]), class: 'btn btn-default right'%> 
  </div>
<% end %>
</div>
<div>
    <%= button_tag "Sign in", { id: "sign_in"}  %>
</div>
