<% provide :title, @question.title  %>
<div class="authform">
  <p>
    <strong><%= t('activerecord.attributes.question.title') %>:</strong>
    <%= @question.title %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.question.description') %>:</strong>
    <%= @question.description %>
  </p>
  <% if current_user.role == 'entrepreneur'%>
    <%= link_to 'Naar overzicht', questions_path %>
  <% else %>
    <%= link_to 'Naar overzicht', list_questions_path %>  
  <% end  %>
</div>
