<h3>Profielgegevens</h3>
<div class="form-group">
    <%= profile_fields.label :first_name %>
    <%= profile_fields.text_field :first_name, class: 'form-control' %>
</div>
<div class="form-group">
    <%= profile_fields.label :last_name %>
    <%= profile_fields.text_field :last_name, class: 'form-control' %>
</div>
<div class="form-group">
    <%= profile_fields.fields_for :address do |address_fields| %>
        <%= address_fields.label :zip_code %>
        <%= address_fields.text_field :zip_code, class: 'form-control' %>
    <% end %>
</div>
<div class="form-group">
    <%= profile_fields.fields_for :address do |address_fields| %>
        <%= address_fields.label :street %>
        <%= address_fields.text_field :street, class: 'form-control', readonly: true %>
    <% end %>
</div>
<div class="form-group">
    <%= profile_fields.fields_for :address do |address_fields| %>
        <%= address_fields.label :city %>
        <%= address_fields.text_field :city, class: 'form-control', readonly: true %>
    <% end %>
</div>
<div class="form-group">
    <%= profile_fields.label :phone %>
    <%= profile_fields.text_field :phone, class: 'form-control' %>
</div>
<div class="form-group">
    <%= label_tag "Functie" %>
    <%= select_tag "professions", options_for_select(get_profession_options), { prompt: "Selecteer een functie...", class: 'form-control' } %>
</div>
<div id="user_profile_attributes_profession_form_group" class="form-group hidden">
    <%= profile_fields.text_field :profession, class: 'form-control' %>
</div>
<div class="form-group">
    <%= profile_fields.label :years_of_work_experience %>
    <%= profile_fields.select :years_of_work_experience, get_years_of_work_experience_options, { prompt: "Selecteer een aantal jaren..." }, { class: 'form-control' } %>
</div>
<div class="form-group">
    <%= profile_fields.label :chamber_of_commerce_no %>
    <%= profile_fields.text_field :chamber_of_commerce_no, class: 'form-control' %>
</div>
<div class="form-group btn-group" data-toggle="buttons">
    <%= profile_fields.label :disciplinary_decision %><br>
    <label class="btn btn-primary active">
      <%= profile_fields.radio_button :disciplinary_decision, false, checked: true %> Nee    	      
    </label>
    <label class="btn btn-primary">
      <%= profile_fields.radio_button :disciplinary_decision, true %> Ja    	      
    </label>
</div>


