<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= render partial: 'fields', locals: { f: f } %>        
  
  <div class="form-group">
        <%= f.label :practice_areas %>
        <%= f.check_box :practice_areas, class: 'form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit "Profiel bewaren", class: 'button right' %>
  </div>
<% end %>
