<%= form_for(@profile) do |profile_fields| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= render partial: 'fields', locals: { profile_fields: profile_fields } %>        
  
  <div class="form-group">
      <%= profile_fields.label :practice_areas %><br>
        <%= profile_fields.collection_check_boxes(:practice_area_ids, PracticeArea.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text }  %><br>
      <% end %>
  </div>
  <div class="field">
    <%= profile_fields.label :avatar_url %><br>
    <%= image_tag @profile.avatar_url || "anonymous_avatar.png" , id: "avatar", class: "avatar" %><br>    
    <%= file_field_tag(:avatar_url, { data: {s3:{url: @s3.url.to_s, formData: @s3.fields.to_json.html_safe, host: @s3.url.host}}, id: 'file', name: 'file'}) %>
    <%= profile_fields.text_field :avatar_url, class: "hidden" %>
  </div>
  
  <div class="actions">
    <%= profile_fields.submit "Profiel bewaren", class: 'button right' %>
  </div>
<% end %>
