<% provide :title, "Vind een professional"  %>  
<div class="authform">
  <%= form_tag :search_profiles do %>
      <div  class="form-group">
          <%= label_tag "Rechtsgebieden" %><br>
          <% PracticeArea.all.each do |practice_area|%>
            <%= link_to(practice_area.name, 
                        search_profiles_path(practice_area_id: practice_area.id), 
                        {class: "practice-area-query-link", data: {practice_area_id: practice_area.id}}) %>
          <% end %>
      </div>    
      <div class="form-group">
          <%= label_tag "Regio" %><br>
          <% Province.all.each do |province|%>
            <%= link_to(province.name, search_profiles_path(province_id: province.id)) %>
          <% end %>
      </div>
  <% end %>
</div>
<div id="search-result">
  <%= render 'search' %> 
</div>

