<% provide :title, @profile.full_name  %>  
<div class="authform">
  <form>
    <h3><%= @profile.full_name %></h3>
    <p>
      <%= image_tag @profile.avatar_url, class: 'avatar' %>
    </p>
    <p>
      <strong>Vestigingsplaats:</strong>
      <%= @profile.address.city  %>
    </p>
    <p>
      <strong>Rechtsgebieden:</strong><br>
      <% @profile.practice_areas.each do |practice_area|  %>
        <%= practice_area.name %><br>
      <% end %>
    </p>
    <p>
      <strong>Ervaring:</strong>
      <%= @profile.years_of_work_experience %>
    </p>
    <p>
      <strong>Rating:</strong>
      <%= text_field_tag 'profile_rating', @profile.calculate_rating %>
    </p>
    
    <%= link_to 'Alle profielen', profiles_path %><br>
    <%= link_to 'Review deze juridische professional', new_review_path(profile_id: @profile.id) %>
  </form>
  <% unless @profile.reviews.empty?  %>
    <form>
      <% @profile.reviews.each do |review|  %>
        <p><%= review.title  %></p>
      <% end %>
    </form>
  <% end %>
</div>
