<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <%
      title =  "Registreren"
      title += " Juridische Professional" if :profile
      provide :title, title
    %>
    <h3><%= t(:sign_up, scope: [:devise, :registrations]) %></h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <% if :profile  %>
       <div class="form-group">
    	  <%= f.fields_for :profile do |profile_fields| %>
	        <%= profile_fields.label :first_name %>
    	    <%= profile_fields.text_field :first_name, class: 'form-control' %>
    	  <% end %> 
       </div>
       <div class="form-group">
    	  <%= f.fields_for :profile do |profile_fields| %>
	        <%= profile_fields.label :last_name %>
    	    <%= profile_fields.text_field :last_name, class: 'form-control' %>
    	  <% end %> 
       </div>
       <div class="form-group">
    	  <%= f.fields_for :profile do |profile_fields| %>
	        <%= profile_fields.label :business_address %>
    	    <%= profile_fields.text_field :business_address, class: 'form-control' %>
    	  <% end %> 
       </div>
       <div class="form-group">
    	  <%= f.fields_for :profile do |profile_fields| %>
	        <%= profile_fields.label :city %>
    	    <%= profile_fields.text_field :city, class: 'form-control' %>
    	  <% end %> 
       </div>
       <div class="form-group">
    	  <%= f.fields_for :profile do |profile_fields| %>
	        <%= profile_fields.label :phone %>
    	    <%= profile_fields.text_field :phone, class: 'form-control' %>
    	  <% end %> 
       </div>
       <div class="form-group">
         <%= f.fields_for :profile do |profile_fields| %>
           <!--%= profile_fields.label :practice_area %--><br>
           <!--%= profile_fields.select :practice_area, Profile.practice_areas.keys.to_a, { include_blank: "Selecteer een rechtsgebied..." }, { class: 'form-control' } %-->
         <% end %>
       </div>	 
    <% end  %>

    <%= f.submit t(:sign_up, scope: [:devise, :registrations]), :class => 'button right' %>
  <% end %>
</div>
