<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <h3><%= t(:forgot, scope: [:devise, :passwords]) %></h3>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <div class="form-group">
      <%= f.label :password, t(:new, scope: [:devise, :passwords]) %>
        <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control' %>
      <%= f.label :password_confirmation, t(:confirm_new, scope: [:devise, :password]) %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
    </div>
     <%= f.submit t(:change, scope: [:devise, :passwords]), :class => 'button right' %>
  <% end %>
</div>
