<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3><%= t(:forgot, scope: [:devise, :passwords]) %></h3>
    <p><%= t(:send_instructions, scope: [:devise, :passwords]) %></p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit t(:reset, scope: [:devise, :passwords]), :class => 'button right' %>
  <% end %>
</div>
