<section id="press">
<h2 class="bottom30">The Next Entrepreneur 2014</h2>
<div id="gallery" class="bottom30">
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/rabobank.png" %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/mkb_nl.jpg"  %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/tne.jpg" %>
		</div>
        </div>
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/rabobank.png" %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/mkb_nl.jpg"  %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/tne.jpg" %>
		</div>
	</div>
</div>
<article class="bottom50">
   <h4 class="bottom10">LinkingLaw doet mee aan de verkiezing voor The Next Entrepreneur.</h4>
   <p class="centered">Vindt u ook dat iedere ondernemer recht heeft op goed juridisch advies? Stem dan nu op LinkingLaw!</p>
</article>
  <div class="centered">
    <a class="btn-brown" href="http://http://www.thenextentrepreneur.nl/">Stem hier</a>
  </div>
</section>
