<section id="press">
<h2>LinkingLaw in de pers</h2>
<div id="gallery">
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/detelegraaf.png" %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/mr.gif"  %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/njb.gif" %>
		</div>
        </div>
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/nuzakelijk.jpg" %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/spits.gif" %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/sprout.png" %>
		</div>
	</div>
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/thenextwomen.gif" %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/tmg.png" %>
		</div>
	</div>
</div>
<article>
	<h4>Ook ge&#239;nteresseerd in het verhaal achter LinkingLaw? </h4>
<p>Wij vertellen u graag wat onze drijfveer is en waarom wij vinden dat de juridische markt rijp is voor verandering. Bel ons op: +31 6 50607867 of mail naar info@linkinglaw.nl</p>
</article>
</section>
