<section id="press">
<h2 id="spread-the-word" class="bottom30">Spread the word</h2>
<h2 class="bottom30">The Next Entrepreneur 2014</h2>
<!--div class="gallery bottom30">
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/rabobank.png", class: "press-img" %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/mkb_nl.jpg", class: "press-img"  %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/tne.jpg", class: "press-img" %>
		</div>
        </div>
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/rabobank.png", class: "press-img" %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/mkb_nl.jpg", class: "press-img"  %>
		</div>
		<div class="gallery-item">
		    <%= image_tag "press/tne.jpg", class: "press-img" %>
		</div>
	</div>
</div-->
<article class="bottom60">
   <p class="centered">LinkingLaw doet mee aan de verkiezing voor The Next Entrepreneur 2014! The Next Entrepreneur is een wedstrijd die jaarlijks georganiseerd wordt door het MKB Nederland en de Rabobank en is bedoeld om startende ondernemers te ondersteunen bij het verwezenlijken van hun ambities. Bent u ook van mening dat goede juridische dienstverlening voor elke ondernemer toegankelijk zou moeten zijn? Stem dan nu op LinkingLaw!</p>
</article>
  <div class="centered">
    <a class="btn-brown" href="http://www.thenextentrepreneur.nl/deelnemers/207.htm#/subCat=208&criteria=elkana" target="_blank">Stem hier</a>
  </div>
</section>
