<section id="reviews">
			<h2>Wat zeggen onze klanten?</h2>
				<div class="review">
<article><p>Ik heb gemerkt dat het als ondernemer erg lastig is om een jurist te vinden die &#233;n kennis van zaken heeft &#233;n bij de persoonlijkheid van je onderneming past. Via LinkingLaw ben ik in contact gekomen met een klein kantoor dat mij uitstekend heeft geadviseerd over een arbeidsrechtelijke kwestie. Het contact verliep zo prettig, dat ik besloten heb om dit kantoor in de toekomst vaker in te schakelen.</p></article>
<table class="author">
	<tr>
		<td class="passphoto"><%= image_tag "reviews/passphotos/yme_sake_boonstra.jpg" %></td>
		<td class="name_position">Yme Sake Boonstra<br><span class="position">Managing Director</span></td>
		<td class="company_logo"><%= image_tag "reviews/logos/the_djcompany.png" %></td>
	</tr>
</table>
</div><div class="review"><article>		
<p>Wij wilden graag juridisch advies inwinnen over de mogelijkheid om onze BV om te zetten naar een VOF. Via LinkingLaw hebben we van diverse juristen antwoord ontvangen op onze vraag. Het was erg prettig dat er meerdere juristen op onze vraag reageerden. Zo kregen we een compleet en helder beeld van de voors en tegens en hebben we uiteindelijk een beslissing kunnen nemen.</p></article>
<table class="author">
	<tr>
		<td class="passphoto"><%= image_tag "reviews/passphotos/yme_sake_boonstra.jpg" %></td>
		<td class="name_position">Yme Sake Boonstra<br><span class="position">Managing Director</span></td>
		<td class="company_logo"><%= image_tag "reviews/logos/the_djcompany.png" %></td>
	</tr>
</table>
</div><div class="review"><article><p>Als oprichter van een young start-up had ik heel wat juridische vragen, maar een beperkt budget. LinkingLaw bood uitkomst! Zo heb ik onder meer gratis advies ontvangen over welke rechtsvorm ik het beste voor mijn onderneming kon kiezen. Het is fijn dat je voor zo&#39;n relatief simpele vraag niet direct de hoofdprijs hoeft te betalen. Wat mij betreft absoluut voor herhaling vatbaar!</p></article>
<table class="author">
	<tr>
		<td class="passphoto"><%= image_tag "reviews/passphotos/yme_sake_boonstra.jpg" %></td>
		<td class="name_position">Yme Sake Boonstra<br><span class="position">Managing Director</span></td>
		<td class="company_logo"><%= image_tag "reviews/logos/the_djcompany.png" %></td>
	</tr>
</table>
</div>
</section>
