<div id="home-content">
<input id="pageId" type="hidden" value="home">
<%= render 'intro' %>
<%= render 'advantages' %>
<%= render 'about/how_it_works' %>
<%= render 'reviews' %>
<%= render 'press' %>
</div>
