<div id="home-content">
 <input id="pageId" type="hidden" value="home">
 <%= render 'intro' %>
 <%= render 'advantages' %>
 <div class="grey-ruler"></div>
 <%= render 'about/the_industry' %>
 <%= render 'how_it_works' %>
 <%= render 'press' %>
</div>
