<div id="home-content">
 <%= render 'intro' %>
 <%= render 'advantages' %>
  <blockquote class="bg-black">
    <span>Omdat elke ondernemer recht heeft op goed juridisch advies</span>
  </blockquote>
 <%= render 'how_it_works' %>
 <%= render 'recommandation' %>
 <div class="grey-ruler"></div>
 <%= render 'press' %>
</div>
