<% provide :title, "Plaats een antwoord" %>

<div class="authform">
  <p>
    <strong><%= t('activerecord.attributes.question.title') %>:</strong>
    <%= @question.title %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.question.description') %>:</strong>
    <%= @question.description %>
  </p>
</div>

<%= render 'form' %>


