<div class="authform">
  <%= form_for(@notification_setting) do |f| %>
    <% if @notification_setting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@notification_setting.errors.count, "error") %> prohibited this notification_setting from being saved:</h2>
  
        <ul>
        <% @notification_setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
     <div id="interval" class="form-group">
        <%= f.label :interval %><br>
        <%= f.collection_radio_buttons(:interval_id, Interval.all, :id, :hours ) do |b| %>
          <%= b.label { b.radio_button(:"data-hours"=> b.text) + Interval.find_by(hours: b.text.to_i).name }  %><br>
        <% end %>
    </div>

    <div id="time-select" class="form-group">
        <%= label_tag "Tijdstip" %>
        <%= time_select "notification_setting", "next_notification_time", {discard_minute: true} %>:00
    </div>

    <div class="form-group">
        <%= f.label :practice_areas %><br>
        <%= f.collection_check_boxes(:practice_area_ids, PracticeArea.all, :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text }  %><br>
        <% end %>
    </div>
  
    <div class="form-group">
        <%= f.label :provinces %><br>
        <%= f.collection_check_boxes(:province_ids, Province.all, :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text }  %><br>  
        <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Bewaar", class: 'button right' %>
      <%= link_to t(:cancel, scope: [:labels]), home_path %>
    </div>
    
  <% end %>
</div>
