<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'sign_in_user', :'data-type' => 'json'}, remote: true, authenticity_token: true) do |f| %>  
   <div class="hidden alert alert-danger">
      <ul>
         <li/>
      </ul>
   </div>
   <div class="form-group">
     <label for="user_email_sign_in">Email</label>
     <%= f.email_field :email, :autofocus => true, class: 'form-control', id: "user_email_sign_in" %>
   </div>
   <div class="form-group">
     <%- if devise_mapping.recoverable? %>
       <%= link_to t(:forgot_password, scope: [:devise, :sessions]), new_password_path(resource_name), class: 'right' %>
     <% end -%>
     <label for="user_password_sign_in">Wachtwoord</label> 
     <%= f.password_field :password, class: 'form-control', id: "user_password_sign_in" %>
   </div>
   <%= f.submit t(:submit_question, scope: [:questions]), id: 'sign_in', class: 'button right' %>
   <% if devise_mapping.rememberable? -%>
     <div class="checkbox" style="width:150px">
       <label>
         <%= f.check_box :remember_me %> <%= t(:remember_me, scope: [:devise, :sessions]) %>
       </label>
     </div>
  <% end -%>
<% end %>  
