<%= form_for(@enquiry) do |f| %>
<fieldset>
  <% if @enquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h2>

      <ul>
      <% @enquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Naam' %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: 'E-mail' %>
  </div>
  <div class="field">
    <%= f.text_field :phone, placeholder: 'Telefoonnummer' %>
  </div>
  <div class="field">
    <%= f.text_area :message, placeholder: 'Bericht' %>
  </div>
  <div class="actions">
    <%= f.submit "Verzenden" %>
  </div>
</fieldset>
<% end %>



