C<input id="pageId" type="hidden" value="contact">
<div id="content_container">
<section>
<p>Massa, eget egestas purus viverra accumsan in nisl nisi, scelerisque?</p>
<p>Vitae sapien pellentesque habitant morbi tristique senectus et netus et.</p>
<p>Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare.</p>
<p>Pulvinar neque laoreet suspendisse interdum consectetur libero, id faucibus nisl?</p>
<p>At in tellus integer feugiat scelerisque varius morbi enim nunc.</p>
</section><section>
<%= form_for(@question) do |f| %>
<fieldset>
<legend>
Plaats hier gratis en geheel vrijblijvend jouw juridische vraag
</legend>

  <% if @question.errors.any? %>
  <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :subject, "Vraag" %>
    <%= f.text_field :subject %>
  </div>
  <div class="field textarea">
    <%= f.label :description, "Omschrijving" %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Plaats nieuwe vraag" %>
  </div>
</fieldset>
<% end %>

</section>
</div>
