<input id="pageId" type="hidden" value="contact">
<div id="map_canvas"></div>
<div id="content_container">
<section>
<address>
	<p>Admiraal de Ruijterweg 304 II</p>
	<p>Amsterdam</p>
	<p>+31 6 50 60 78 67</p>
</address>
<article>
	<h2>Algemene informatie</h2>
	<p>Heb je een vraag of opmerking? Stuur dan een e-mail of maak gebruik van het contactformulier. Wij helpen je graag verder!</p>
	<p>
	  <a href="">info@linkinglaw.com</a>
	</p>
</article>
<article>
	<h2>Samenwerken</h2>
	<p>Ben je een juridisch professional met een geldige inschrijving bij de KvK en heb je interesse om samen te werken? Neem dan contact met ons op! Wij nemen graag de verschillende mogelijkheden met je door.</p>
	<p>
	    <a href="">samenwerken@linkinglaw.com</a>
	</p>
</article>
<article>
	<h2>Vacatures/Stage</h2>
	<p>Wij zijn een snel groeiende young start-up waar altijd ruimte is voor leergierige vriendelijke stagiairs met affiniteit voor IT en/of marketing. Ben je ge&#239;nteresseerd? Stuur dan je CV en overtuig ons waarom jij van toegevoegde waarde kunt zijn.</p>
	<p>
	  <a href="">stage@linkinglaw.com</a>
	</p>
</article>
<article>
	<h2>Media/Pers</h2>
	<p>Ben je ge&#239;nteresseerd in het verhaal achter LinkingLaw? Wij vertellen je graag wat onze drijfveer is en hoe het idee achter ons bedrijf is ontstaan. Mail ons voor een afspraak.</p>
	<p>
           <a href="">media@linkinglaw.com</a>
	</p>
</article>
</section><section> 
<%= form_for(@enquiry) do |f| %>
<fieldset>
<legend>
Contact
</legend>

  <% if @enquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h2>

      <ul>
      <% @enquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Naam" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone, "Telefoonnummer" %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :message, "Vraag" %> 
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit "Verzenden" %>
  </div>
</fieldset>
<% end %>

</section>
</div> 
