<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to t(:edit, scope: [:devise, :registrations]), edit_user_registration_path %></li>
  <li><%= link_to t(:sign_out, scope: [:devise, :sessions]), destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to t(:mine, scope: [:questions]), questions_path %></li>
<% else %>
  <li><%= link_to t(:sign_in, scope: [:devise, :sessions]), new_user_session_path %></li>
  <li><%= link_to t(:sign_up, scope: [:devise, :registrations]), new_user_registration_path %></li>
  <li><!--%= link_to t(:sign_up, scope: [:devise, :registrations, :laywer]), new_lawyer_registration_path %--></li>
<% end %>
  <li><%= link_to t(:ask_question, scope: [:questions]), new_question_path %></li>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'Admin', '/admin' %></li>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
