<%# add navigation links to this file %>
<% if user_signed_in? %>
  <% case current_user.role 
     when "lawyer"%>
    <li><%= link_to t(:all, scope: [:questions]), list_questions_path %></li>  
  <% when "entrepreneur" %>
    <li><%= link_to t(:ask_question, scope: [:questions]), new_question_path %></li>
    <li><%= link_to "Vind een professional", profiles_path %></li>  
  <% end %>
<% else %>
  <li><%= link_to t(:ask_question, scope: [:questions]), new_question_path %></li>
  <li><%= link_to "Vind een professional", profiles_path %></li>  
  <li><%= link_to t(:lawyer, scope: [:labels]), lawyer_path %></li>
<% end  %>