<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>  
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      	<%= current_user.email %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        	<% case current_user.role
        	   when "entrepreneur" %>
            <li><%= link_to t(:mine, scope: [:questions]), questions_path %></li>
            <li><%= link_to "Mijn reviews", home_path %></li>
            <li><%= link_to t(:edit, scope: [:devise, :registrations]), edit_user_registration_path %></li>            
          <% when "lawyer"  %>
            <li><%= link_to "Notificaties instellingen", home_path %></li>  
            <li><%= link_to t(:edit, scope: [:profiles]), edit_profile_path(current_user.profile.id) %></li>              
            <li><%= link_to "Mijn reviews", home_path %></li>
            <li><%= link_to t(:edit, scope: [:devise, :registrations]), edit_user_registration_path %></li>            
          <% end %>
          <li class="divider"></li>
          <li><%= link_to t(:sign_out, scope: [:devise, :sessions]), destroy_user_session_path, :method=>'delete' %></li>
      </ul>
    </li>
  <% else %> 
    <li><%= link_to t(:sign_in, scope: [:devise, :sessions]), new_user_session_path %></li>
    <li><%= link_to t(:sign_up, scope: [:devise, :registrations]), new_user_registration_path %></li>  
  <% end %>
</ul>
