<!DOCTYPE html>
<html>
<head>
  <title>LinkingLaw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <%= render partial: 'layouts/nav' %>
</header>
<main>
  <%= yield %>
</main>
<footer>
  <%= render partial: 'layouts/sitemap' %>
  <%= render partial: 'layouts/follow_us' %>
  <%= render partial: 'layouts/disclaimer' %>
</footer>
<%= render partial: 'layouts/notification' %>
</body>
</html>
