<!DOCTYPE html>
<html>
<head>
  <title>LinkingLaw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
<nav>
   <div>
	<div class="call-info">
          <%= image_tag "icons/phone.svg", class: "phone-icon" %>
	  <span class="phone-number">06-50607867</span>
	</div>
	<ul class="user_nav">
		<li>registreren</li>
		<li>aanmelden</li>
	</ul>
   </div>
   <ul class="main_nav">
	<li><%= link_to "Home", home_path, id: "home" %></li><li><%= link_to "Over LinkingLaw", about_path, id: "about" %></li><li><%= link_to "Contact", contact_path, id: "contact" %></li>
   </ul>
</nav>
</header>
<main>
  <%= yield %>
</main>
<footer>
</footer>
</body>
</html>
