<!DOCTYPE html>
<html>
<head>
  <title>LinkingLaw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
<nav>
   <div>
	<div class="call-info">
          <%= image_tag "contact/phone.svg", class: "phone-icon" %>
	  <span class="phone-number">06-50607867</span>
	</div>
	<ul class="user_nav">
		<li><a href="#" class="user-link">registreren</a></li>
		<li><a href="#" class="user-link">aanmelden</a></li>
	</ul>
   </div>
   <div class="main_nav">
     <!--div class="linking">LinkingLaw</div><div class="law">Law</div-->
     <ul>
	<li><%= link_to "Home", home_path, id: "home" %></li><li><%= link_to "Over LinkingLaw", about_path, id: "about" %></li><li><%= link_to "Contact", contact_path, id: "contact" %></li>
     </ul>
   </div>
</nav>
</header>
<main>
  <%= yield %>
</main>
<footer>
  <section id="sitemap">
    <%= render partial: 'layouts/sitemap' %>
  </section>
  <section id="follow_us">
    <%= render partial: 'layouts/follow_us' %>
  </section>
  <section id="disclaimer">
    <%= render partial: 'layouts/disclaimer' %>
  </section>
</footer>
<div id="notification">
<p>
Dit is een demo-website die speciaal voor de verkiezing van The Next Entrepreneur 2014 live is gezet. De website is nog niet volledig functioneel en is niet getest met Internet Explorer browsers.
</p>
</div>
</body>
</html>
