<!DOCTYPE html>
<html>
<head>
  <title>LinkingLaw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <%= render partial: 'layouts/nav' %>
</header>
<main>
  <%= yield %>
</main>
<footer>
  <%= render partial: 'layouts/sitemap' %>
  <%= render partial: 'layouts/follow_us' %>
  <%= render partial: 'layouts/disclaimer' %>
</footer>
<div id="notification">
<p>
Dit is een demo-website die speciaal voor de verkiezing van The Next Entrepreneur 2014 live is gezet. De website is nog niet volledig functioneel en niet getest met Internet Explorer browsers.
</p>
</div>
</body>
</html>
